# Normalize line endings for all files Git considers text.
* text=auto eol=lf

# Preserve verbatim upstream license bytes and their recorded source checksums.
assets/arena/kenney/**/License.txt -text -whitespace
assets/items/kenney/**/License.txt -text -whitespace
